body {
    font-family: 'Source Code Pro', monospace;
    color: white;
    background-color: black;
}

h1, h2, h3, h4  {
    color: rgba(62, 218, 56, 0.788);
}

.code-ex {
    background-color: white;
    color: black;
}

header {
    width: 100%;
    min-height: 300px;
    background-image: url("../images/matrix.gif");
    background-size: cover; 
    overflow: hidden;
}




    
